name: pr-title

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

jobs:
  pr-title:
    uses: Meteor-Simulation/.github/.github/workflows/reusable-pr-title.yml@main
    with:
      require_scope: true
